@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

body {
    font-family: 'oswald', sans-serif; font-size: 14px;
}
/* Use the 'Oswald' font family at 14px throughout the body of the document. */
nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}
/* Use the 'Bungee Inline' font at 46px and lighter weight for the restaurant name. */
#restaurantName {
    font-family: 'Bungee Inline', sans-serif; font-size: 46px;
    font-weight: lighter;
}

#menu {columns: 420px 2; column-gap: 60px;}
section {margin-bottom: 20px; padding: 10px;}

/* Show each of the section headings of the menu (e.g. "Starters") in uppercase. */
h2 {
    text-transform: uppercase;
    margin-top: 0;
}

/* Make the name of each menu item appear in bold in a 16px size. */
dt {
    display: inline;
    font-weight: bold;
    font-size: 16px;
}
/* Make a comma appear after the name of each menu item (before the description) */

dd {display: inline; margin: 0;}
dt::after {content: ", "; display: inline; clear: both; margin-bottom: 15px;}
dd::after {
    content: " ";
    display: block;
    clear: both;
}
.price {
    float: right; 
    padding: 0 0 35px 20px;
    text-align: right;
}

/* Right-align the text of the address/footer */
address {
    text-align: right;
}
/* draw a 2px black border around the starters and desserts sections of the menu */
#starters, #desserts {
    border: 2px solid black;
}