@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');
body {
    background-image: url("map.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif; font-size: 18px;
    
}

/* Use the 'Lato' font family at 18px throughout the body  */

nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}


/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */
#restaurantName {
    font-family: 'Supermercado One', sans-serif; font-size: 45px; 
    color: #5d4037;
}


/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {
    
    columns: 400px 2; 
    column-gap: 100px;
    column-rule: 2px dashed rosybrown;
    }

section {
    margin-bottom: 50px;}

/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {
    font-variant: small-caps; color: #6d4c41;
}


h2 {margin: 0;}


/* Make the name of each menu item appear in bold in a 20px size. */
.itemNum {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.details {
    
    color: black;
}



dd {margin: 0 0 12px 0; display: flex;}

.details {
    order: 1;
}


.price {
    order: 2; 
    padding-left: 10px;
    color: firebrick;
    font: large;
}


address {
    border: 2px dashed rosybrown;
    padding: 10px;
}